.map-container {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.map-iframe {
  flex: 1;
  width: 100%;
  border: none;
}
